app.name = HIS
app.site = Adrien - Home

dicom.localscp.port = 104
dicom.localscp.aet = HISSTORE
dicom.localscp.savedir = D:/Adrien/Documents/NetBeansProjects/infoh400-labs2021/src/main/resources/localpacs

dicom.storescu.aet = INFOH400
        
dicom.remotescp.port = 11112
dicom.remotescp.host = localhost
dicom.remotescp.aet = STORESCP
        
dicom.dicomdir.defaultpath = D:/Adrien/pCloud/ULB/TPs/INFOH400/Data
        
hl7.localserver.port = 54321

fhir.defaultHost = http://localhost:8080/infoh400-labs2021-web/fhir